extends layout

block content
    h1= title

    unless (typeof user_data.email === 'undefined')
        p Showing information for #{user_data.email}
        each val, key in user_data
            p #{key}: #{val}
        //form(name="update_user", method="post")
        //    input(type="text", name="public_key")
        //    input(type="submit", value="send")

    else
        p No Such User
        each val, key in user_data
            p #{key}: #{val}